<div id="rec{{id}}" class="r t-rec t-rec_pb_60" style="padding-bottom:60px;background-color:#f0f0f0; "
  data-record-type="106" data-bg-color="#f0f0f0">
  <!-- T0004 -->
  {# {{ dump() }} #}
  <div class="t004 t0004">
    <div class="t-container ">
    {% for n in news %}
      {% set link = ['n' , n.id] | join %}
      <div class="t-col t-col_8 t-prefix_2" id="{{link}}">
        <div field="text" class="t-text t-text_md " style="">
          <div class="t404__uptitle t-uptitle" style="text-transform:uppercase;">
            {% if n.tag %}
              <span style="text-transform:uppercase;" class="t404__tag">{{ n.tag }}&nbsp;&nbsp;&nbsp;</span>
            {% endif %}
            {% if n.newsdate %}
              <span style="text-transform:uppercase;" class="t404__date">{{ n.newsdate|date("m / d / Y") }}</span>
            {% endif %}
          </div>
          <div class="t404__title t-heading t-heading_xs" style="color: rgb(54, 45, 102);">{{ n.title }}</div>
          <div class="t404__descr t-descr t-descr_xs">{{ n.content | raw }}</div>          
        </div>
      </div>
    {% endfor %}
    </div>
  </div>
</div>