  <div id="rec{{ id }}" class="r t-rec t-rec_pb_0" style="padding-top:15px;padding-bottom:15px;background-color:#f7e3d6;" data-bg-color="{{ params.custstrattr04 }}">
    <!-- T0795 -->
    <div class="t795">
      <div class="t-container">
          {# {{ dump() }} #}
          <div style="padding-left: 30px; padding-right: 15px;">
          {% for slide in params.slides01 %}
            <div class="track" style="width: 100%;">
              <div class="t-container">
                <div class="t-cell">
                  <a href="{{ relative_path([ '/', 'release', '/', slide.link]|join) }}" style="display: inline" target="_blank">
                    <img src="{% path slide.image, 'mini' %}" style="float: left; width: 50px; height: 50px; margin-top: 0;">
                  </a>
                </div>
                <div class="t-cell t-width">
                  <a href="{{ relative_path([ '/', 'release', '/', slide.link]|join) }}" style="display: inline" target="_blank">                    
                    <h2>{{ slide.title }}<br><span>{{ slide.artist }}</span></h2>
                  </a>
                </div>
                <div class="t-cell">
                  <a class="download-track" href="{{ relative_path([ '/', 'release', '/', slide.link]|join) }}" target="_blank">
                    <img style="" src="{{ asset('template2/play.png') }}">
                  </a>
                </div>
              </div>
				    </div>
          {% endfor %}
          </div>
      </div>
    </div>
  </div>
