<div class="record" id="record{{id}}" recordid="{{id}}" off="" data-record-type="244" style="cursor: auto;">
  <div id="rec{{id}}" class="r" style=" " data-animationappear="off">
    <!-- cover -->
    <script type="text/javascript">
      $(document).ready(function () {
        //cover_init('{{id}}');
      });
    </script>

    <div class="t-cover" id="recorddiv{{id}}" bgimgfield="img" style="height: 961px; background-image: -webkit-linear-gradient(top, rgb(204, 204, 204), rgb(119, 119, 119));"
      data-tu-noclick="yes">

      <div class="t-cover__carrier" id="coverCarry{{id}}" data-content-cover-id="{{id}}" data-content-cover-bg="{% path params.custmediattr01, 'reference' %}"
        data-content-cover-height="100vh" data-content-cover-parallax="fixed" style="background-image: url({% path params.custmediattr01, 'preview' %}); height: 961px;"></div>

      <div class="t-cover__filter" style="height: 961px; background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5));"></div>

      <div class="t-container">
        <div class="t-col t-col_12 ">
          <div class="t-cover__wrapper t-valign_middle" style="height: 961px;">
            <div class="t216 t-align_center">
              <div data-hook-content="covercontent">
                <div class="t216__wrapper">
                  <div class="t216__blocklogo">
                    <img src="{% path params.custmediattr02, 'reference' %}" data-tu-max-width="800" data-tu-max-height="800" class="t216__logo t-img"
                      imgfield="img2" data-hook-clogo="coverlogo" id="tuwidget513397">
                  </div>
                  {% if params.custstrattr01 %}
                    <div class="t216__title t-title t-title_xl" style="" field="title">
                      <div style="font-size:46px;color:#f7e3d6;" data-customstyle="yes">{{ params.custstrattr01 }}</div>
                    </div>
                  {% endif %}
                  {% if params.custstrattr01 %}
                    <div class="t216__descr t-descr t-descr_xl t216__descr_center" style="" field="descr">
                      <div style="color:#ffffff;" data-customstyle="yes">{{ params.custstrattr02 }}</div>
                    </div>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>