<div class="record" id="record{{id}}" recordid="{{id}}" off="" data-record-type="404" style="cursor: auto;">
  <div id="rec{{id}}" class="r" style="padding-top:90px;padding-bottom:90px; background-color:#f7e3d6;" data-bg-color="#f7e3d6">
    <!-- T404 -->
    <div class="t404" data-show-count="4">

      {% for line in news %}
        <div class="t-container">
        {# {{ dump(line) }} #}
        {% for n in line %}
          <div class="t404__col t-col t-col_3 t-align_left " data-animate-style="fadeinup" data-animate-chain="yes" style="display: block;">
            <a class="t404__link" href="{{ n.link }}">
              <div class="t404__imgbox">
                <div class="t404__img t-bgimg" data-original="{% path n.picture, 'big' %}"
                  style="background-image: url({% path n.picture, 'preview' %});"></div>
                <div class="t404__separator"></div>
              </div>
              <div class="t404__textwrapper ">
                <div class="t404__uptitle t-uptitle" style="text-transform:uppercase;">
                  {% if n.tag %}
                    <span style="text-transform:uppercase;" class="t404__tag">{{ n.tag }}&nbsp;&nbsp;&nbsp;</span>
                  {% endif %}
                  {% if n.newsdate %}
                    <span style="text-transform:uppercase;" class="t404__date">{{ n.newsdate|date("m / d / Y") }}</span>
                  {% endif %}
                </div>
                <div class="t404__title t-heading t-heading_xs" style="color: rgb(54, 45, 102); height: 93px;">{{ n.title }}</div>
                <div class="t404__descr t-descr t-descr_xs" style="height: 96px;">{{ n.descr | raw }}</div>
              </div>
            </a>
          </div>
        {% endfor %}
        </div>
      {% endfor %}

      <div class="t404__buttonwrapper">
        <div class="t404__showmore t404__btn t-btn " style="color:#ffffff;border:0px solid #000000;background-color:#362d66;border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px;">
          <table style="width:100%; height:100%;">
            <tbody>
              <tr>
                <td>Показать ещё</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <script type="text/javascript">
      $(document).ready(function () {
        t404_unifyHeights('{{id}}');

        $('.t404').bind('displayChanged', function () {
          t404_unifyHeights('{{id}}');
        });

        $(window).bind('resize', t_throttle(function () {
          t404_unifyHeights('{{id}}');
        }, 200));

        $(window).load(function () {
          t404_unifyHeights('{{id}}');
        });

      });
    </script>

    <script type="text/javascript">
      $(document).ready(function () {
        t404_showMore('{{id}}');
      });
    </script>

    <style>
      #rec{{id}} .t-btn:not(.t-animate_no-hover):hover {
        background-color: #fb4f75 !important;
        color: #ffffff !important;
      }

      #rec{{id}} .t-btn:not(.t-animate_no-hover) {
        -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
        transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
      }
    </style>

  </div>

</div>