<div id="rec{{id}}" class="r t-rec t-rec_pt_90 t-rec_pb_50" style="padding-top:90px;padding-bottom:50px;background-color:#f7f5f4; "
  data-animationappear="off" data-record-type="604" data-bg-color="#f7f5f4">
  <div class="t604">
    <div class="t-slds" style="visibility: hidden;">
      <div class="t-container t-slds__main">
        <div class="t-slds__container t-width t-width_10 t-margin_auto">
          <div class="t-slds__items-wrapper t-slds_animated-slow t-slds__witharrows" data-slider-transition="500" data-slider-with-cycle="true"
            data-slider-correct-height="false" data-auto-correct-mobile-width="false" data-slider-arrows-nearpic="yes" data-slider-timeout="5000">            
            {% set i = 1 %}
            {% for slide in params.slides01 %}
              {% set class = '' %}
              {% if i == 1 %}
                {% set class = 't-slds__item_active' %}
              {% endif %}                
                <div class="t-slds__item {{ class }}" data-slide-index="{{i}}">
                  <div class="t-width t-width_9 t-margin_auto" itemscope itemtype="http://schema.org/ImageObject">
                    <div class="t-slds__wrapper t-align_center">
                      <meta itemprop="image" content="{% path slide.image, 'slider' %}">
                      <meta itemprop="caption" content="{{ slide.title }}">
                      <a href="{{ relative_path(['/', 'artist', '/', slide.path]|join) }}">
                      <div class="t604__imgwrapper" bgimgfield="gi_img__{{i}}">
                        <div class="t-slds__bgimg t-bgimg" data-original="{% path slide.image, 'slider' %}"
                          style="background-image: url({% path slide.image, 'preview' %});"></div>
                        <div class="t604__separator" data-slider-image-width="860" data-slider-image-height="550"></div>
                      </div>
                      </a>
                    </div>
                  </div>
                </div>                
              {% set i = i + 1 %}
            {% endfor %}              
          </div>
        </div>
        <div class="t-slds__arrow_container t-slds__arrow-nearpic">
          <style type="text/css">
            #rec{{id}} .t-slds__arrow_wrapper:hover .t-slds__arrow-withbg {
              border-color: #ffffff !important;
              background-color: rgba(251, 79, 117, 1) !important;
            }
          </style>
          <div class="t-slds__arrow_wrapper t-slds__arrow_wrapper-left" data-slide-direction="left">
            <div class="t-slds__arrow t-slds__arrow-left t-slds__arrow-withbg" style="width: 40px; height: 40px;background-color: rgba(54,45,102,1);">
              <div class="t-slds__arrow_body t-slds__arrow_body-left" style="width: 9px;">
                <svg style="display: block" viewBox="0 0 9.3 17" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <style type="text/css">
                    #rec{{id}} .t-slds__arrow_wrapper polyline {
                      -webkit-transition: stroke ease-in-out .2s;
                      -moz-transition: stroke ease-in-out .2s;
                      -o-transition: stroke ease-in-out .2s;
                      transition: stroke ease-in-out .2s;
                    }

                    #rec{{id}} .t-slds__arrow_wrapper:hover polyline {
                      stroke: #ffffff !important;
                    }
                  </style>
                  <desc>Left</desc>
                  <polyline fill="none" stroke="#ffffff" stroke-linejoin="butt" stroke-linecap="butt" stroke-width="1" points="0.5,0.5 8.5,8.5 0.5,16.5"
                  /> </svg>
              </div>
            </div>
          </div>
          <div class="t-slds__arrow_wrapper t-slds__arrow_wrapper-right" data-slide-direction="right">
            <div class="t-slds__arrow t-slds__arrow-right t-slds__arrow-withbg" style="width: 40px; height: 40px;background-color: rgba(54,45,102,1);">
              <div class="t-slds__arrow_body t-slds__arrow_body-right" style="width: 9px;">
                <svg style="display: block" viewBox="0 0 9.3 17" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <desc>Right</desc>
                  <polyline fill="none" stroke="#ffffff" stroke-linejoin="butt" stroke-linecap="butt" stroke-width="1" points="0.5,0.5 8.5,8.5 0.5,16.5"
                  /> </svg>
              </div>
            </div>
          </div>
        </div>
        <div class="t-slds__bullet_wrapper">
          {% set i = 1 %}
          {% for slide in params.slides01 %}
            {% set class = '' %}
            {% if i == 1 %}
              {% set class = 't-slds__bullet_active' %}
            {% endif %}
            <div class="t-slds__bullet {{ class }}" data-slide-bullet-for="{{i}}">
              <div class="t-slds__bullet_body" style="background-color: #362d66;"></div>
            </div>
            {% set i = i + 1 %}
          {% endfor %}        
        </div>
        <div class="t-slds__caption__container">
          {% set i = 1 %}
          {% for slide in params.slides01 %}
            {% set class = '' %}
            {% if i == 1 %}
              {% set class = 't-slds__caption-active' %}
            {% endif %}
            <div class="t-slds__caption t-col t-col_8 t-prefix_2 {{class}} _social_links" data-slide-caption="{{i}}">
              <div class="t-slds__caption_wrapper t-align_center" style="">
                <div class="t-slds__title t-name t-name_xs" data-redactor-toolbar="no" style="" field="gi_title__{{i}}">{{ slide.title }}</div>
                <div style="padding-top: 20px;">

                  {% if slide.social_fb %}
                    <div class="t188__sociallinkimg">
                      <a href="{{slide.social_fb}}" target="_blank" rel="nofollow">
                        <svg class="t-sociallinks__svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                          x="0px" y="0px" width="48px" height="48px" viewBox="0 0 48 48" enable-background="new 0 0 48 48" xml:space="preserve">
                          <desc>Facebook</desc>
                          <path style="fill:#363064;" d="M47.761,24c0,13.121-10.638,23.76-23.758,23.76C10.877,47.76,0.239,37.121,0.239,24c0-13.124,10.638-23.76,23.764-23.76C37.123,0.24,47.761,10.876,47.761,24 M20.033,38.85H26.2V24.01h4.163l0.539-5.242H26.2v-3.083c0-1.156,0.769-1.427,1.308-1.427h3.318V9.168L26.258,9.15c-5.072,0-6.225,3.796-6.225,6.224v3.394H17.1v5.242h2.933V38.85z"></path>
                        </svg>
                      </a>
                    </div>
                  {% endif %}
                  
                  {% if slide.social_vk %}
                    <div class="t188__sociallinkimg"> 
                      <a href="{{slide.social_vk}}" target="_blank" rel="nofollow"> 
                        <svg class="t-sociallinks__svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                          x="0px" y="0px" width="48px" height="48px" viewBox="0 0 48 48" enable-background="new 0 0 48 48" xml:space="preserve">
                          <desc>VK</desc>
                          <path style="fill:#363064;" d="M47.761,24c0,13.121-10.639,23.76-23.76,23.76C10.878,47.76,0.239,37.121,0.239,24c0-13.123,10.639-23.76,23.762-23.76C37.122,0.24,47.761,10.877,47.761,24 M35.259,28.999c-2.621-2.433-2.271-2.041,0.89-6.25c1.923-2.562,2.696-4.126,2.45-4.796c-0.227-0.639-1.64-0.469-1.64-0.469l-4.71,0.029c0,0-0.351-0.048-0.609,0.106c-0.249,0.151-0.414,0.505-0.414,0.505s-0.742,1.982-1.734,3.669c-2.094,3.559-2.935,3.747-3.277,3.524c-0.796-0.516-0.597-2.068-0.597-3.171c0-3.449,0.522-4.887-1.02-5.259c-0.511-0.124-0.887-0.205-2.195-0.219c-1.678-0.016-3.101,0.007-3.904,0.398c-0.536,0.263-0.949,0.847-0.697,0.88c0.31,0.041,1.016,0.192,1.388,0.699c0.484,0.656,0.464,2.131,0.464,2.131s0.282,4.056-0.646,4.561c-0.632,0.347-1.503-0.36-3.37-3.588c-0.958-1.652-1.68-3.481-1.68-3.481s-0.14-0.344-0.392-0.527c-0.299-0.222-0.722-0.298-0.722-0.298l-4.469,0.018c0,0-0.674-0.003-0.919,0.289c-0.219,0.259-0.018,0.752-0.018,0.752s3.499,8.104,7.573,12.23c3.638,3.784,7.764,3.36,7.764,3.36h1.867c0,0,0.566,0.113,0.854-0.189c0.265-0.288,0.256-0.646,0.256-0.646s-0.034-2.512,1.129-2.883c1.15-0.36,2.624,2.429,4.188,3.497c1.182,0.812,2.079,0.633,2.079,0.633l4.181-0.056c0,0,2.186-0.136,1.149-1.858C38.281,32.451,37.763,31.321,35.259,28.999"></path>
                        </svg> 
                      </a> 
                    </div>
                  {% endif %}
                  
                  {% if slide.social_ytube %}
                    <div class="t188__sociallinkimg"> 
                      <a href="{{slide.social_ytube}}" target="_blank" rel="nofollow">
                        <svg class="t-sociallinks__svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                          x="0px" y="0px" width="48px" height="48px" viewBox="-455 257 48 48" enable-background="new -455 257 48 48" xml:space="preserve">
                          <desc>Youtube</desc>
                          <path style="fill:#363064;" d="M-431,257.013c13.248,0,23.987,10.74,23.987,23.987s-10.74,23.987-23.987,23.987s-23.987-10.74-23.987-23.987S-444.248,257.013-431,257.013z M-419.185,275.093c-0.25-1.337-1.363-2.335-2.642-2.458c-3.054-0.196-6.119-0.355-9.178-0.357c-3.059-0.002-6.113,0.154-9.167,0.347c-1.284,0.124-2.397,1.117-2.646,2.459c-0.284,1.933-0.426,3.885-0.426,5.836s0.142,3.903,0.426,5.836c0.249,1.342,1.362,2.454,2.646,2.577c3.055,0.193,6.107,0.39,9.167,0.39c3.058,0,6.126-0.172,9.178-0.37c1.279-0.124,2.392-1.269,2.642-2.606c0.286-1.93,0.429-3.879,0.429-5.828C-418.756,278.971-418.899,277.023-419.185,275.093zM-433.776,284.435v-7.115l6.627,3.558L-433.776,284.435z"></path>
                        </svg> 
                      </a> 
                    </div>
                  {% endif %}
                  
                  {% if slide.social_inst %}          
                    <div class="t188__sociallinkimg"> 
                      <a href="{{slide.social_inst}}" target="_blank" rel="nofollow">
                        <svg class="t-sociallinks__svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                          width="48px" height="48px" viewBox="0 0 30 30" xml:space="preserve">
                          <desc>Instagram</desc>
                          <path style="fill:#363064;" d="M15,11.014 C12.801,11.014 11.015,12.797 11.015,15 C11.015,17.202 12.802,18.987 15,18.987 C17.199,18.987 18.987,17.202 18.987,15 C18.987,12.797 17.199,11.014 15,11.014 L15,11.014 Z M15,17.606 C13.556,17.606 12.393,16.439 12.393,15 C12.393,13.561 13.556,12.394 15,12.394 C16.429,12.394 17.607,13.561 17.607,15 C17.607,16.439 16.444,17.606 15,17.606 L15,17.606 Z"></path>
                          <path style="fill:#363064;" d="M19.385,9.556 C18.872,9.556 18.465,9.964 18.465,10.477 C18.465,10.989 18.872,11.396 19.385,11.396 C19.898,11.396 20.306,10.989 20.306,10.477 C20.306,9.964 19.897,9.556 19.385,9.556 L19.385,9.556 Z"></path>
                          <path style="fill:#363064;" d="M15.002,0.15 C6.798,0.15 0.149,6.797 0.149,15 C0.149,23.201 6.798,29.85 15.002,29.85 C23.201,29.85 29.852,23.202 29.852,15 C29.852,6.797 23.201,0.15 15.002,0.15 L15.002,0.15 Z M22.666,18.265 C22.666,20.688 20.687,22.666 18.25,22.666 L11.75,22.666 C9.312,22.666 7.333,20.687 7.333,18.28 L7.333,11.734 C7.333,9.312 9.311,7.334 11.75,7.334 L18.25,7.334 C20.688,7.334 22.666,9.312 22.666,11.734 L22.666,18.265 L22.666,18.265 Z"></path>
                        </svg> 
                      </a> 
                    </div>
                  {% endif %}
                  
                </div>
              </div>
            </div>
            {% set i = i + 1 %}
          {% endfor %}                
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    $(document).ready(function () {
      t_sldsInit('{{id}}');
      t604_init('{{id}}');
      var fireRefreshEventOnWindow = function () {
        var evt = document.createEvent("HTMLEvents");
        evt.initEvent('resize', true, false);
        window.dispatchEvent(evt);
      };
      $('.t604').bind('displayChanged', function () {
        fireRefreshEventOnWindow();
      });
    });
  </script>
  <style type="text/css">
    #rec{{id}} .t-slds__bullet_active .t-slds__bullet_body {
      background-color: #fb4f75 !important;
    }

    #rec{{id}} .t-slds__bullet:hover .t-slds__bullet_body {
      background-color: #fb4f75 !important;
    }
  </style>
</div>