<div id="rec{{id}}" class="r t-rec t-rec_pt_90 t-rec_pb_90" style="padding-top:90px;padding-bottom:90px;background-color:#f7f5f4; "
  data-animationappear="off" data-record-type="604" data-bg-color="#f7f5f4">
  <div class="t604">
    <div class="t-slds" style="visibility: hidden;">
      <div class="t-container t-slds__main">
        <div class="t-slds__container t-width t-width_10 t-margin_auto">
          <div class="t-slds__items-wrapper t-slds_animated-slow t-slds__witharrows" data-slider-transition="500" data-slider-with-cycle="true"
            data-slider-correct-height="false" data-auto-correct-mobile-width="false" data-slider-arrows-nearpic="yes" data-slider-timeout="2500">            
            {% set i = 1 %}
            {% for slide in params.slides01 %}
              {% set class = '' %}
              {% if i == 1 %}
                {% set class = 't-slds__item_active' %}
              {% endif %}
                <div class="t-slds__item {{ class }}" data-slide-index="{{i}}">
                  <div class="t-width t-width_9 t-margin_auto" itemscope itemtype="http://schema.org/ImageObject">
                    <div class="t-slds__wrapper t-align_center">
                      <meta itemprop="image" content="{% path slide.image, 'reference' %}">
                      <meta itemprop="caption" content="{{ slide.slidetitle }}">
                      <div class="t604__imgwrapper" bgimgfield="gi_img__{{i}}">
                        <div class="t-slds__bgimg t-bgimg" data-original="{% path slide.image, 'reference' %}"
                          style="background-image: url({% path slide.image, 'preview' %});"></div>
                        <div class="t604__separator" data-slider-image-width="860" data-slider-image-height="550"></div>
                      </div>
                    </div>
                  </div>
                </div>
              {% set i = i + 1 %}
            {% endfor %}              
          </div>
        </div>
        <div class="t-slds__arrow_container t-slds__arrow-nearpic">
          <style type="text/css">
            #rec{{id}} .t-slds__arrow_wrapper:hover .t-slds__arrow-withbg {
              border-color: #ffffff !important;
              background-color: rgba(251, 79, 117, 1) !important;
            }
          </style>
          <div class="t-slds__arrow_wrapper t-slds__arrow_wrapper-left" data-slide-direction="left">
            <div class="t-slds__arrow t-slds__arrow-left t-slds__arrow-withbg" style="width: 40px; height: 40px;background-color: rgba(54,45,102,1);">
              <div class="t-slds__arrow_body t-slds__arrow_body-left" style="width: 9px;">
                <svg style="display: block" viewBox="0 0 9.3 17" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <style type="text/css">
                    #rec{{id}} .t-slds__arrow_wrapper polyline {
                      -webkit-transition: stroke ease-in-out .2s;
                      -moz-transition: stroke ease-in-out .2s;
                      -o-transition: stroke ease-in-out .2s;
                      transition: stroke ease-in-out .2s;
                    }

                    #rec{{id}} .t-slds__arrow_wrapper:hover polyline {
                      stroke: #ffffff !important;
                    }
                  </style>
                  <desc>Left</desc>
                  <polyline fill="none" stroke="#ffffff" stroke-linejoin="butt" stroke-linecap="butt" stroke-width="1" points="0.5,0.5 8.5,8.5 0.5,16.5"
                  /> </svg>
              </div>
            </div>
          </div>
          <div class="t-slds__arrow_wrapper t-slds__arrow_wrapper-right" data-slide-direction="right">
            <div class="t-slds__arrow t-slds__arrow-right t-slds__arrow-withbg" style="width: 40px; height: 40px;background-color: rgba(54,45,102,1);">
              <div class="t-slds__arrow_body t-slds__arrow_body-right" style="width: 9px;">
                <svg style="display: block" viewBox="0 0 9.3 17" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <desc>Right</desc>
                  <polyline fill="none" stroke="#ffffff" stroke-linejoin="butt" stroke-linecap="butt" stroke-width="1" points="0.5,0.5 8.5,8.5 0.5,16.5"
                  /> </svg>
              </div>
            </div>
          </div>
        </div>
        <div class="t-slds__bullet_wrapper">
          {% set i = 1 %}
          {% for slide in params.slides01 %}
            {% set class = '' %}
            {% if i == 1 %}
              {% set class = 't-slds__bullet_active' %}
            {% endif %}
            <div class="t-slds__bullet {{ class }}" data-slide-bullet-for="{{i}}">
              <div class="t-slds__bullet_body" style="background-color: #362d66;"></div>
            </div>
            {% set i = i + 1 %}
          {% endfor %}        
        </div>
        <div class="t-slds__caption__container">
          {% set i = 1 %}
          {% for slide in params.slides01 %}
            {% set class = '' %}
            {% if i == 1 %}
              {% set class = 't-slds__caption-active' %}
            {% endif %}
            <div class="t-slds__caption t-col t-col_8 t-prefix_2 {{class}}" data-slide-caption="{{i}}">
              <div class="t-slds__caption_wrapper t-align_center" style="">
                <div class="t-slds__title t-name t-name_xs" data-redactor-toolbar="no" style="" field="gi_title__{{i}}">{{ slide.slidetitle }}</div>
                <div class="t-slds__descr t-descr t-descr_xxs" data-redactor-toolbar="no" style="" field="gi_descr__{{i}}">{{ slide.slidedescr }}</div>
              </div>
            </div>
            {% set i = i + 1 %}
          {% endfor %}                
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    $(document).ready(function () {
      t_sldsInit('{{id}}');
      t604_init('{{id}}');
      var fireRefreshEventOnWindow = function () {
        var evt = document.createEvent("HTMLEvents");
        evt.initEvent('resize', true, false);
        window.dispatchEvent(evt);
      };
      $('.t604').bind('displayChanged', function () {
        fireRefreshEventOnWindow();
      });
    });
  </script>
  <style type="text/css">
    #rec{{id}} .t-slds__bullet_active .t-slds__bullet_body {
      background-color: #fb4f75 !important;
    }

    #rec{{id}} .t-slds__bullet:hover .t-slds__bullet_body {
      background-color: #fb4f75 !important;
    }
  </style>
</div>