<div id="rec{{ id }}" class="r t-rec t-rec_pt_150 t-rec_pb_150" style="padding-top:150px;padding-bottom:150px;background-color:#f2f2f2; "
  data-record-type="738" data-bg-color="#f2f2f2" data-animationappear="off" data-offset-top="9862">
  <!-- t738 -->
  <div class="t738 t738__witharrows">
    <div class="t-section__container t-container">
      <div class="t-col t-col_12">
        <div class="t-section__topwrapper t-align_center">
          {% if params.custstrattr01 %}
            <div class="t-section__title t-title t-title_xs" field="btitle">
              <div style="color:#362d66;" data-customstyle="yes">{{ params.custstrattr01 }}</div>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="t-slds" style="">
      <div class="t-slds__main t-container">
        <div class="t-slds__container">
          <div class="t-slds__items-wrapper t-slds_animated-none" data-slider-transition="300" data-slider-with-cycle="true" data-slider-correct-height="true"
            data-auto-correct-mobile-width="false" data-slider-initialized="true" data-slider-totalslides="1" data-slider-pos="1"
            data-slider-cycle="" data-slider-animated="" style="width: 3600px; transform: translate3d(-1200px, 0px, 0px); touch-action: pan-y; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); height: 125px;">
            
            <div class="t-slds__item t-slds__item-loaded" data-slide-index="0" style="width: 1200px;">
              <div class="t-width t738__width_12 t-margin_auto">
                <div class="t738__slds-wrapper t-slds__wrapper t-align_center">
                  {% for slide in params.slides01 %}
                    <div class="t-col t738__item t738__item_6-in-row">
                      <a class="t738__linkwrapper" href="{{ slide.link }}" target="_blank">
                        <img src="{% path slide.image, 'preview' %}" data-original="{% path slide.image, 'reference' %}"
                          class="t738__img t-img loaded" imgfield="li_img__1481771908709"> </a>
                    </div>
                  {% endfor %}
                </div>
              </div>
            </div>

            <div class="t-slds__item t-slds__item-loaded t-slds__item_active" data-slide-index="1" style="width: 1200px;">
              <div class="t-width t738__width_12 t-margin_auto">
                <div class="t738__slds-wrapper t-slds__wrapper t-align_center">
                  {% for slide in params.slides01 %}
                    <div class="t-col t738__item t738__item_6-in-row">
                      <a class="t738__linkwrapper" href="{{ slide.link }}" target="_blank">
                        <img src="{% path slide.image, 'preview' %}" data-original="{% path slide.image, 'reference' %}"
                          class="t738__img t-img loaded" imgfield="li_img__1481771908709"> </a>
                    </div>
                  {% endfor %}
                </div>
              </div>
            </div>
            
            <div class="t-slds__item t-slds__item-loaded" data-slide-index="2" style="width: 1200px;">
              <div class="t-width t738__width_12 t-margin_auto">
                <div class="t738__slds-wrapper t-slds__wrapper t-align_center">
                  {% for slide in params.slides01 %}
                    <div class="t-col t738__item t738__item_6-in-row">
                      <a class="t738__linkwrapper" href="{{ slide.link }}" target="_blank">
                        <img src="{% path slide.image, 'preview' %}" data-original="{% path slide.image, 'reference' %}"
                          class="t738__img t-img loaded" imgfield="li_img__1481771908709"> </a>
                    </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="t-slds__arrow_container ">
          <div class="t-slds__arrow_wrapper t-slds__arrow_wrapper-left" data-slide-direction="left" style="height: 125px;">
            <div class="t-slds__arrow t-slds__arrow-left t-slds__arrow-withbg" style="width: 30px; height: 30px;background-color: rgba(232,232,232,1);">
              <div class="t-slds__arrow_body t-slds__arrow_body-left" style="width: 7px;">
                <svg style="display: block" viewBox="0 0 7.3 13" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <desc>Left</desc>
                  <polyline fill="none" stroke="#222222" stroke-linejoin="butt" stroke-linecap="butt" stroke-width="1" points="0.5,0.5 6.5,6.5 0.5,12.5"></polyline>
                </svg>
              </div>
            </div>
          </div>
          <div class="t-slds__arrow_wrapper t-slds__arrow_wrapper-right" data-slide-direction="right" style="height: 125px;">
            <div class="t-slds__arrow t-slds__arrow-right t-slds__arrow-withbg" style="width: 30px; height: 30px;background-color: rgba(232,232,232,1);">
              <div class="t-slds__arrow_body t-slds__arrow_body-right" style="width: 7px;">
                <svg style="display: block" viewBox="0 0 7.3 13" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <desc>Right</desc>
                  <polyline fill="none" stroke="#222222" stroke-linejoin="butt" stroke-linecap="butt" stroke-width="1" points="0.5,0.5 6.5,6.5 0.5,12.5"></polyline>
                </svg>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      $(document).ready(function () {
        t_sldsInit('{{ id }}');
      });
    </script>
    <style type="text/css">
      #rec{{ id }} .t-slds__bullet_active .t-slds__bullet_body {
        background-color: #222 !important;
      }

      #rec{{ id }} .t-slds__bullet:hover .t-slds__bullet_body {
        background-color: #222 !important;
      }
    </style>
  </div>
</div>