<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">  
  <title>
    {% if release.artist %}
      {{ release.artist }} / 
    {% endif %}
    {{ release.title }}
  </title>

  <meta property="og:url"          content="{{app.request.uri}}"/>
  <meta property="og:title"        content="{{ release.artist }} - {{ release.title }} / Pilot-Promo" />
  <meta property="og:description"  content="Listen, download or stream {{ release.title }} now!"/>
  <meta property="og:image"        content="{% path release.image, 'poster' %}" />
  <meta property="og:image:width"  content="200" />
  <meta property="og:image:height" content="200" />

  <link rel="shortcut icon" href="{{ asset('favicon.png') }}">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="{{ release.artist }} - {{ release.title }} / Pilot-Promo">
  <meta name="twitter:description" content="Listen, download or stream {{ release.title }} now!">
  <meta name="twitter:image" content="{% path release.image, 'poster' %}">
  <meta name="twitter:image:width" content="200">
  <meta name="twitter:image:height" content="200">

  <link href="{{ asset('template2/band.css') }}" rel="stylesheet">
  <script src="{{ asset('template2/jquery-1.10.2.min.js') }}" type="text/javascript"></script>
</head>

<body style="overflow-y:scroll">
  <div id="app">
    <div>
      <div>
        <div class="blur-wrapper">
          <div class="blur" style="background-image: url({% path release.image, 'poster' %});"></div>
          <div class="release-box">
            <div class="container-event" style="background: rgb(255, 255, 255);">
              <div id="release-block">
                <section class="image" style="background-image: url({% path release.image, 'poster' %});">
                </section>
                <section class="event-info" style="background: rgb(242, 242, 242);">
                  <h1 class="event-info__artist no-default-styles" style="color: rgb(60, 60, 60);">{{ release.artist }}</h1>
                  <h2 title="{{ release.title }}" class="event-info__event no-default-styles" style="color: rgb(60, 60, 60);">{{ release.title }}</h2>
                  <div>
                    <div class="sharing icon-sharing"></div>
                    <div class="relative">
                      <div class="sharing-box bottom-shadow">
                        <a target="_blank" href="http://www.facebook.com/sharer.php?u={{app.request.uri}}" class="icon-facebook-sharing"></a>
                        <a target="_blank" href="https://twitter.com/intent/tweet?url={{app.request.uri}}" class="icon-twitter-sharing"></a>
                        <a target="_blank" href="https://vk.com/share.php?url={{app.request.uri}}" class="icon-vk-sharing"></a>
                        <a target="_blank" href="whatsapp://send?text={{app.request.uri}}" class="icon-whatsapp-sharing"></a>
                        <a target="_blank" href="viber://forward?text={{app.request.uri}}" class="icon-viber-sharing"></a>
                        <a target="_blank" href="https://telegram.me/share/url?url={{app.request.uri}}" class="icon-telegram-sharing"></a>
                        {# <div class="copy-to-clipboard"></div> #}
                        <div class="close-sharing"></div>
                      </div>
                    </div>
                  </div>
                </section>
                {# {{ dump(release) }} #}
                <section class="videos videos-from-links">
                  {% media release.video, 'video' %}
                </section>
                <div class="links-wrapper">
                  {% if release.link_itunes != '' %}
                  <div rel="nofollow" class="order-block">
                    <a href="{{ release.link_itunes }}" target="_blank" class="link itunes" style="border-color: #DEDEDE;">iTunes<span class="action">Купить</span></a>
                  </div>
                  {% endif %}
                  {% if release.link_apple != '' %}
                  <div rel="nofollow" class="order-block">
                    <a href="{{ release.link_apple }}"target="_blank" class="link apple-music" style="border-color: #DEDEDE;">Apple Music<span class="action">Слушать</span></a>
                  </div>
                  {% endif %}
                  {% if release.link_gplay != '' %}
                  <div rel="nofollow" class="order-block">
                    <a href="{{ release.link_gplay }}" target="_blank" class="link googleplay" style="border-color: #DEDEDE;">Google Play<span class="action">Купить</span></a>
                  </div>
                  {% endif %}
                  {% if release.link_vk != '' %}
                  <div rel="nofollow" class="order-block">
                    <a href="{{ release.link_vk }}" target="_blank" class="link vk" style="border-color: #DEDEDE;">VK Music<span class="action">Слушать</span></a>
                  </div>
                  {% endif %}
                  {% if release.social_boom != '' %}
                  <div rel="nofollow" class="order-block">
                    <a href="{{ release.social_boom }}" target="_blank" class="link boom" style="border-color: #DEDEDE;">BOOM<span class="action">Слушать</span></a>
                  </div>
                  {% endif %}
                  {% if release.link_spotify != '' %}
                  <div rel="nofollow" class="order-block">
                    <a href="{{ release.link_spotify }}" target="_blank" class="link spotify" style="border-color: #DEDEDE;">Spotify<span class="action">Слушать</span></a>
                  </div>
                  {% endif %}
                  {% if release.link_deezer != '' %}
                  <div rel="nofollow" class="order-block">
                    <a href="{{ release.link_deezer }}" target="_blank" class="link deezer" style="border-color: #DEDEDE;">Deezer<span class="action">Слушать</span></a>
                  </div>
                  {% endif %}
                  {% if release.link_yam != '' %}
                  <div rel="nofollow" class="order-block">
                    <a href="{{ release.link_yam }}" target="_blank" class="link yandex" style="border-color: #DEDEDE;">Yandex Music<span class="action">Слушать</span></a>
                  </div>
                  {% endif %}
                  {% if release.social_zvooq != '' %}
                  <div rel="nofollow" class="order-block">
                    <a href="{{ release.social_zvooq }}" target="_blank" class="link zvooq" style="border-color: #DEDEDE;">Zvooq<span class="action">Слушать</span></a>
                  </div>
                  {% endif %}
                  {% if release.social_tiktok != '' %}
                  <div rel="nofollow" class="order-block">
                    <a href="{{ release.social_tiktok }}" target="_blank" class="link tiktok" style="border-color: #DEDEDE;">TikTok<span class="action">Слушать</span></a>
                  </div>
                  {% endif %}
                </div>
                <section class="footer">
                  {% if release.social_vk != '' %}
                  <a rel="nofollow" href="{{ release.social_vk }}" target="_blank" class="vk">
                    <svg class="t-sociallinks__svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="48px" height="48px" viewBox="0 0 48 48" enable-background="new 0 0 48 48" xml:space="preserve">
                      <desc>VK</desc>
                      <path style="fill:#363064;" d="M47.761,24c0,13.121-10.639,23.76-23.76,23.76C10.878,47.76,0.239,37.121,0.239,24c0-13.123,10.639-23.76,23.762-23.76C37.122,0.24,47.761,10.877,47.761,24 M35.259,28.999c-2.621-2.433-2.271-2.041,0.89-6.25c1.923-2.562,2.696-4.126,2.45-4.796c-0.227-0.639-1.64-0.469-1.64-0.469l-4.71,0.029c0,0-0.351-0.048-0.609,0.106c-0.249,0.151-0.414,0.505-0.414,0.505s-0.742,1.982-1.734,3.669c-2.094,3.559-2.935,3.747-3.277,3.524c-0.796-0.516-0.597-2.068-0.597-3.171c0-3.449,0.522-4.887-1.02-5.259c-0.511-0.124-0.887-0.205-2.195-0.219c-1.678-0.016-3.101,0.007-3.904,0.398c-0.536,0.263-0.949,0.847-0.697,0.88c0.31,0.041,1.016,0.192,1.388,0.699c0.484,0.656,0.464,2.131,0.464,2.131s0.282,4.056-0.646,4.561c-0.632,0.347-1.503-0.36-3.37-3.588c-0.958-1.652-1.68-3.481-1.68-3.481s-0.14-0.344-0.392-0.527c-0.299-0.222-0.722-0.298-0.722-0.298l-4.469,0.018c0,0-0.674-0.003-0.919,0.289c-0.219,0.259-0.018,0.752-0.018,0.752s3.499,8.104,7.573,12.23c3.638,3.784,7.764,3.36,7.764,3.36h1.867c0,0,0.566,0.113,0.854-0.189c0.265-0.288,0.256-0.646,0.256-0.646s-0.034-2.512,1.129-2.883c1.15-0.36,2.624,2.429,4.188,3.497c1.182,0.812,2.079,0.633,2.079,0.633l4.181-0.056c0,0,2.186-0.136,1.149-1.858C38.281,32.451,37.763,31.321,35.259,28.999"></path>
                    </svg>
                  </a>
                  {% endif %}
                  {% if release.social_inst != '' %}
                  <a rel="nofollow" href="{{ release.social_inst }}" target="_blank" class="instagram">
                    <svg class="t-sociallinks__svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="48px" height="48px" viewBox="0 0 30 30" xml:space="preserve">
                      <desc>Instagram</desc>
                      <path style="fill:#363064;" d="M15,11.014 C12.801,11.014 11.015,12.797 11.015,15 C11.015,17.202 12.802,18.987 15,18.987 C17.199,18.987 18.987,17.202 18.987,15 C18.987,12.797 17.199,11.014 15,11.014 L15,11.014 Z M15,17.606 C13.556,17.606 12.393,16.439 12.393,15 C12.393,13.561 13.556,12.394 15,12.394 C16.429,12.394 17.607,13.561 17.607,15 C17.607,16.439 16.444,17.606 15,17.606 L15,17.606 Z"></path>
                      <path style="fill:#363064;" d="M19.385,9.556 C18.872,9.556 18.465,9.964 18.465,10.477 C18.465,10.989 18.872,11.396 19.385,11.396 C19.898,11.396 20.306,10.989 20.306,10.477 C20.306,9.964 19.897,9.556 19.385,9.556 L19.385,9.556 Z"></path>
                      <path style="fill:#363064;" d="M15.002,0.15 C6.798,0.15 0.149,6.797 0.149,15 C0.149,23.201 6.798,29.85 15.002,29.85 C23.201,29.85 29.852,23.202 29.852,15 C29.852,6.797 23.201,0.15 15.002,0.15 L15.002,0.15 Z M22.666,18.265 C22.666,20.688 20.687,22.666 18.25,22.666 L11.75,22.666 C9.312,22.666 7.333,20.687 7.333,18.28 L7.333,11.734 C7.333,9.312 9.311,7.334 11.75,7.334 L18.25,7.334 C20.688,7.334 22.666,9.312 22.666,11.734 L22.666,18.265 L22.666,18.265 Z"></path>
                    </svg>
                  </a>
                  {% endif %}
                  {% if release.social_fb != '' %}
                  <a rel="nofollow" href="{{ release.social_fb }}" target="_blank" class="facebook">
                    <svg class="t-sociallinks__svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="48px" height="48px" viewBox="0 0 48 48" enable-background="new 0 0 48 48" xml:space="preserve">
                      <desc>Facebook</desc>
                      <path style="fill:#363064;" d="M47.761,24c0,13.121-10.638,23.76-23.758,23.76C10.877,47.76,0.239,37.121,0.239,24c0-13.124,10.638-23.76,23.764-23.76C37.123,0.24,47.761,10.876,47.761,24 M20.033,38.85H26.2V24.01h4.163l0.539-5.242H26.2v-3.083c0-1.156,0.769-1.427,1.308-1.427h3.318V9.168L26.258,9.15c-5.072,0-6.225,3.796-6.225,6.224v3.394H17.1v5.242h2.933V38.85z"></path>
                    </svg>
                  </a>
                  {% endif %}
                  {% if release.social_ytube != '' %}
                  <a rel="nofollow" href="{{ release.social_ytube }}" target="_blank" class="youtube">
                    <svg class="t-sociallinks__svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="48px" height="48px" viewBox="-455 257 48 48" enable-background="new -455 257 48 48" xml:space="preserve">
                      <desc>Youtube</desc>
                      <path style="fill:#363064;" d="M-431,257.013c13.248,0,23.987,10.74,23.987,23.987s-10.74,23.987-23.987,23.987s-23.987-10.74-23.987-23.987S-444.248,257.013-431,257.013z M-419.185,275.093c-0.25-1.337-1.363-2.335-2.642-2.458c-3.054-0.196-6.119-0.355-9.178-0.357c-3.059-0.002-6.113,0.154-9.167,0.347c-1.284,0.124-2.397,1.117-2.646,2.459c-0.284,1.933-0.426,3.885-0.426,5.836s0.142,3.903,0.426,5.836c0.249,1.342,1.362,2.454,2.646,2.577c3.055,0.193,6.107,0.39,9.167,0.39c3.058,0,6.126-0.172,9.178-0.37c1.279-0.124,2.392-1.269,2.642-2.606c0.286-1.93,0.429-3.879,0.429-5.828C-418.756,278.971-418.899,277.023-419.185,275.093zM-433.776,284.435v-7.115l6.627,3.558L-433.776,284.435z"></path>
                    </svg>
                  </a>
                  {% endif %}
                </section>
              </div>
            </div>
          </div>
          <a href="https://pilot-promo.ru" style="color: #ededed; font-size: 14px; display: block; text-align: center; position: relative; margin-top: 20px; z-index: 5; text-decoration: none;">Produced by Pilot Promo</a>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    $('.sharing').click(function(){
      $('.sharing-box').addClass('visible');
    });
    $('.close-sharing').click(function(){
      $('.sharing-box').removeClass('visible');
    });
  </script>
  <!-- Matomo -->
  <script type="text/javascript">
    var _paq = window._paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u="//stat.vserver24.ru/";
      _paq.push(['setTrackerUrl', u+'matomo.php']);
      _paq.push(['setSiteId', '1']);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
    })();
  </script>
  <!-- End Matomo Code -->
</body>
</html>